# Compiled files
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg
*.pdb

# Backup files
*.bak
*.cache
*.log
*.vspscc
*.vssscc
.builds

# Solution files
*.sln

# Project files
*.csproj
*.vbproj
*.vcxproj
*.vcproj
*.dbproj
*.fsproj
*.lsproj
*.wixproj
*.xproj
*.shproj
*.suo
*.user
*.docstates

# Publish files
*.publish.xml
*.publishproj

# Test files
*.testsettings
*.testrunconfig
*.testrunconfig.bak
